.gallery {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas: "picture-area empty" "section-footer empty";
}
@media (max-width: 1000px) {
    .gallery {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, min-content);
        grid-template-areas: "picture-area" "section-footer";
      }
}