.lead {
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 150px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(min-content, 445px) min-content;
  grid-template-areas: "description picture" "read-more-button picture";
}
@media (max-width: 1000px) {
    .lead {
        padding: 100px 35px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "description" "picture" "read-more-button";
      }
}
@media (max-width: 520px) {
    .lead {
        padding: 60px 20px;
      }
}