.lead__read-more-button {
  grid-area: read-more-button;
  width: 50%;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #E1FD2C;
  background-color: inherit;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s, color 0.2s;
}
.lead__read-more-button:hover {
  background-color: #E1FD2C;
  color: #191D2C;
}
@media (max-width: 1000px) {
    .lead__read-more-button {
        margin-top: 100px;
      }
}
@media (max-width: 520px) {
    .lead__read-more-button {
        margin-top: 60px;
      }
}
@media (max-width: 400px) {
    .lead__read-more-button {
        width: 100%;
      }
}