.header__switcher-area {
  grid-area: switcher-area;
  padding: 0 35px;
  display: none;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 520px) {
    .header__switcher-area {
        padding: 0 20px;
      }
}